css

.table{
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
  }

.font{
    color: rgb(8, 73, 8);
    font-family:  'Space Grotesk', Times, serif;
    font-size: 16;
}

.background{
    color: lightslategray
}

.div{
    div: :before {
        name="emailaddress"
    }
    div: :after{
        type="submit"
    }
}